.carousel.carousel-slider.center
  .carousel-fixed-item.center
  - projects.each do |project|
    .carousel-item.black-text
      %h2
        = project.name
      %p.black-text
        = project.client.email
      %a.btn.waves-effect.white.grey-text.darken-text-2
        Tasks
      = link_to project_tickets_path(project_id: project) do
        .btn.waves-effect.white.grey-text.darken-text-2
          Tickets
      = link_to project_announcements_path(project_id: project) do
        .btn.waves-effect.white.grey-text.darken-text-2
          Announcements
