.row.comment-author
  .col.s1
    = image_tag user_avatar(@ticket.project.client), class: "circle comment-avatar responsive-img"
  .col.s11
    = @ticket.project.client.email
    %br
    .grey-text
      = days_ago(@ticket.created_at)
.row
  .col.s12
    .comment
      = @ticket.content