.ticket-container
  .row
    %h5
      .col.s9
        .ticket-title
          = @ticket.title
        .divider
    .col.s9
      = render 'author_request'
      = render partial: "comments/form", locals: { comment: Comment.new, commentable: @ticket }
    .col.s3
      = render 'helper_panel'

  
